@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

:root {
    --background-color: #bababa;
    --navbar-color: #666666;
    --text-dark: #0c000c;
    --text-colorful: #ffcc1c;
}

body {
    background: var(--background-color);
    margin: 0; 
    font-family: 'Poppins';
}

.navbar {
    background: var(--navbar-color);
    padding: 1em;
    box-shadow: 3px 5px 15px var(--navbar-color);

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: var(--text-dark);
        font-size: 1.2em;

        span{
            color: var(--text-colorful);
        }
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

}

a {
    color: var(--text-dark);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 0em 15%;
}

.hero { 
    .container{
        background: white;
        box-shadow: 3px 0px 10px var(--navbar-color), -3px 0px 10px var(--navbar-color);
    }
}

img {
    padding-top: 1em;
    width: fixed;
}

.main-col {
    width: 100%;
    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        color: var(--navbar-color);
        letter-spacing: .05em;
        margin-top: 0;
        margin-bottom: 0;
        
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .text-body {
        margin: 0 1em;
        padding: 1em;
        text-align: justify;
    }

    .game-cta{
        background: var(--text-colorful);
        color: white;
        text-decoration: none;
        padding: .6em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;

        &:hover{
            background: var(--text-dark);
            color: var(--text-colorful);
        }
    }

    .faq-cta{
        display: block;
        margin-top: 1em;
    }
}

section.filler {
    text-align: center;
    color: var(--background-color);
    background: var(--navbar-color);
    display: block;
    padding: 0.3em;
}

nav {
    ul.primary-nav {
        margin-top: 3.5em;
    }
    li {
        a{
            color: var(--background-color);
            text-decoration: none;
            display:block;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

@media only screen and (max-width: 1080px){
    img{
        width:70%
    }
}


@media only screen and (min-width: 1px){
    .navbar .container {
        display: grid;
        grid-template-columns: 300px auto;
    }

    .navbar nav{
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul{
            display: flex;
        }

        a{
            color: var(--text-dark);
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
        }

        li.current a{
            font-weight: bold;
        }

        li.play-the-game a{
            color: var(--text-colorful);
            border: 3px solid var(--text-colorful);
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;

            &:hover{
                background: var(--text-colorful);
                color: var(--text-dark);
            }
        }
    }

    .hero .container{
        padding-top: 1em;
        padding-bottom: 1.5em;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .left-col{
        padding: 8em 1em 1em;
    }

}